.box1{
    background-color: rgb(245, 243, 247);
    border-radius: 5px;
    height: 4rem;
    white-space:0;
    text-align: center;
    padding:1px;
}
.box1 h1{
    background: -webkit-linear-gradient(#eee, rgb(69, 57, 248));
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.formpr{
    background-color: rgb(200, 152, 240);
    border-radius: 20px;
    width: 900px;
    margin: 20px auto;
    padding: 20px;
    height: 350px;
}
